/* variables */
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, smscreen, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

img {
  vertical-align: top;
}

* {
  -webkit-text-size-adjust: none;
}

input:focus {
  outline: none;
}
input[type=text]::-ms-clear, input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* base */
html, body {
  /*width:100%;
  height:100%;*/
}

html {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-weight: 400;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}

body {
  min-width: 320px;
  color: #666;
  line-height: 1;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: 0;
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}

i, .ic {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

/* textarea style */
textarea {
  padding: 10px 2%;
  width: 96%;
  border: none;
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

.clr:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

.ic {
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
}

.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1.6rem;
}
.btn span {
  display: block;
  padding: 14px 30px 13px;
  line-height: 1;
  font-weight: 400;
}

.btn-small {
  font-size: 12px;
  font-size: 1.2rem;
}
.btn-small span {
  padding: 3px 8px;
}

.btn-base {
  border: 1px solid #32c5d2;
  background: #32c5d2;
}
.btn-base span {
  color: #fff;
}
.btn-base:hover {
  border-color: #17aab7;
  background: #17aab7;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 1000px;
  padding: 40px 20px 20px;
}

#header {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

#footer {
  padding: 40px;
  text-align: center;
  color: #666;
}

.layer {
  display: none;
  position: fixed;
  z-index: 100;
  border-radius: 3px;
  background: #fff;
}
.layer.on {
  display: block;
}

.layer-inner {
  padding: 20px;
}

.layer-block {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.layer-block.on {
  display: block;
}

.layer-preview {
  width: 500px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -150px;
}
.layer-preview h3 {
  margin-bottom: 10px;
}
.layer-preview .font-utility:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.layer-preview .font-utility b {
  display: block;
  padding: 10px 0;
}
.layer-preview .font-preview {
  padding: 20px;
  border: 1px solid #eee;
  word-break: break-all;
  height: 180px;
  overflow-y: auto;
  font-size: 15px;
  font-size: 1.5rem;
}
.layer-preview .font-size {
  float: left;
  width: 100px;
  margin: 0 0 0 7px;
}
.layer-preview .font-color {
  float: right;
  position: relative;
}

.color-pallet {
  display: none;
  padding: 2px;
  width: 81px;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 20px;
  right: 0;
  background: #fff;
}
.color-pallet:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.color-pallet span {
  float: left;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.color-pallet span:first-child {
  border: 1px solid #e1e1e1;
}
.color-pallet span:hover {
  border: 1px solid #ddd;
}
.color-pallet.on {
  display: block;
}

.oc-white {
  background: #ffffff;
}

.oc-black {
  background: #000000;
}

.oc-gray-9 {
  background: #212529;
}

.oc-red-9 {
  background: #c92a2a;
}

.oc-pink-9 {
  background: #a61e4d;
}

.oc-grape-9 {
  background: #862e9c;
}

.oc-violet-9 {
  background: #5f3dc4;
}

.oc-indigo-9 {
  background: #364fc7;
}

.oc-blue-9 {
  background: #1862ab;
}

.oc-cyan-9 {
  background: #0b7285;
}

.oc-teal-9 {
  background: #087f5b;
}

.oc-green-9 {
  background: #2b8a3e;
}

.oc-lime-9 {
  background: #5c940d;
}

.oc-yellow-9 {
  background: #e67700;
}

.oc-orange-9 {
  background: #d9480f;
}

.ui-visual-focus {
  box-shadow: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background: #32C5D2;
  font-weight: normal;
  color: #ffffff;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #32C5D2;
  background-color: #ffffff;
}

#custom-handle {
  width: 25px;
  height: 22px;
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 50px;
}

.font-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.font-list:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.font-item {
  float: left;
  margin-right: 2.04082%;
  margin-bottom: 20px;
  padding: 10px;
  width: 31.97279%;
  background: #e1e1e1;
  word-break: break-all;
  border-radius: 3px;
  opacity: 0;
  margin-top: 20px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.font-item.last-item {
  margin-right: 0;
}
.font-item.on {
  opacity: 1;
  margin-top: 0;
}

.font-name {
  padding: 10px 0 5px;
}

.font-text {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 18px;
  color: #000;
}

.font-btn {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
