// _variables.scss

/* variables */

$min-width:980px;

$border-radius:3px;

$base-font-family:'Roboto', 'Helvetica', 'Sans-serif';
$base-font-size:13px;
$base-font-weight:400;

$rembase:10;

$font-base-color:#666;
$font-link-color:#333;
$font-hover-color:#333;
