@charset "UTF-8";
/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ranga', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Sansita', sans-serif;
*/
.ff-roboto{font-family: 'Roboto', 'Arial'}
.ff-roboto-condensed{font-family: 'Roboto Condense', 'Arial'}
.ff-oswald{font-family: 'Oswald', 'Arial'}
.ff-ranga{font-family: 'Ranga', 'Arial'}
.ff-Merriweather{font-family: 'Merriweather', 'Arial'}
.ff-sansita{font-family: 'Sansita', 'Arial'}
